.auxText {
	font-weight: 400;
	font-size: 0.875rem;
	line-height: 1.125rem;
	letter-spacing: 0.0156rem;
}

.auxTextLink {
	font-weight: 700;
	font-size: 0.875rem;
	line-height: 1.125rem;
	letter-spacing: 0.0156rem;
}
